<%= @header %>
    <div class="background" id="statement">
      <div class="full">
        <div class="title">Mentor List</div> <!--Main page Title-->      
          
<!-- Search mentees -->
       
            <form>
              <p>Enter the <strong>Username</strong> to find a Mentor: 
                <!-- Gets the search value(mentor course name) to be searched -->
                <input type="text" name="userName_search" id="searchForMentor" placeholder="Enter the username to search..." maxlength="40" size="30" value="<%= h @userName_search %>"/>
                <input type="submit" value="Submit" />
              </p>
            </form>


        <!--If account's status is been suspened ,it will display the error        -->
        <% if @error1 %>
        <h2><strong class="error">Account has already been suspended</strong></h2>
        <% end %>
        <!--If account's status is been unsuspended,it will display the error        -->
        <% if @error2 %>
        <h2><strong class="error">Account has already been unsuspended</strong></h2>
        <% end %>
        <!--If account's status is been blocked ,it will display the error        -->
        <% if @error3 %>
        <h2><strong class="error">Account has already been blocked</strong></h2>
        <% end %>
        <!--If account's status is been unblocked ,it will display the error        -->
        <% if @error4 %>
        <h2><strong class="error">Account has already been unblocked</strong></h2>
        <% end %>
          
          <!--Displays the mentor details-->
          <% if @searchedUser.count> 0 %>
            <table class="displayTable">
                <!-- display the name of each column in the table              -->
              <tr id="TableHeadings">
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Edit Profile</th>
                <th>Suspend/Unsuspend Mentor</th>
                <th>Block/Unblock Mentor</th>
              </tr>
            <% @searchedUser.each do |mentor| %>
              <tr>
                  <!--display the content from mentee                    -->
                <td><%= h mentor.username %></td>
                <td><%= h mentor.name %></td>
                <td><%= h mentor.email %></td>
                <td><%= h mentor.phoneNum %></td>
                <td>
                    <!--Press the botton to editMentor information especial the password                   -->
                    <a href="/editMentor?id=<%= h mentor.id %>"><button>Edit Profile</button></a>
                </td>
                <td>
                    <!--Press the botton to suspend mentor                      -->
                  <form method="post" action="suspendMentor">
                    <input type="hidden" name="mentorID" value="<%= mentor.id %>">
                    <button type="submit">Suspend</button>
                  </form>
                    <!--Press the botton to unsuspend mentor                     -->
                  <form method="post" action="unsuspendMentor">
                    <input type="hidden" name="mentorID" value="<%= mentor.id %>">
                    <button type="submit">Unsuspend</button>
                  </form>
                </td>
                <td>
                    <!--Press the botton to block mentor                     -->
                  <form method="post" action="blockMentor">
                    <input type="hidden" name="mentorID" value="<%= mentor.id %>">
                    <button type="submit">Block</button>
                  </form>
                    <!--Press the botton to block mentor                     -->
                  <form method="post" action="unblockMentor">
                    <input type="hidden" name="mentorID" value="<%= mentor.id %>">
                    <button type="submit">Unblock</button>
                  </form>
                </td>
              </tr>
            <% end %> 
             </table>    
           
          <% else %>
          <!-- if there is not exist mentor,it will display the SearchError           -->
            <!-- if the username is not match the mentor's username,it will display the SearchError             -->
            <p id="SearchError">Your search revealed no mentors.<br>Maybe the user is a mentee.<br>
            <!-- Link to mentee list                 -->
            <a href="/searchForAMentee" class="search_info" class="link">Mentee List</a></p>
          <% end %>  
      </div>
</div>

<%= erb :"common/footer" %>
