<%= erb :"common/header_adminA" %>
    <div class="background" id="statement">
      <div class="full">
        <div class="title">Mentee List</div> <!--Main page Title-->      
          
<!-- Search mentees -->
       
            <form>
              <p>Enter the <strong>Username</strong> to find a Mentee: 
                <!-- Gets the search value(mentor course name) to be searched -->
                <input type="text" name="userName_search" id="searchForMentee" placeholder="Enter the username to search..." maxlength="40" size="30" value="<%= h @userName_search %>"/>
                <input type="submit" value="Submit" />
              </p>
            </form>


<!-- Displays error if there is any -->
        <% if @error1 %>
        <h2><strong class="error">Account has already been suspended</strong></h2>
        <% end %>

        <% if @error2 %>
        <h2><strong class="error">Account has already been unsuspended</strong></h2>
        <% end %>
        
        <% if @error3 %>
        <h2><strong class="error">Account has already been blocked</strong></h2>
        <% end %>

        <% if @error4 %>
        <h2><strong class="error">Account has already been unblocked</strong></h2>
        <% end %>
          
          <!--Displays the mentor details-->
          <% if @mentees.count> 0 %>
            <table class="display_table">
              <tr id="TableHeadings">
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Edit Profile</th>
                <th>Suspend/Unsuspend Mentee</th> 
                <th>Block/Unblock Mentee</th> 
              </tr>
            <% @mentees.each do |mentee| %>
              <tr>
                <td><%= h mentee.username %></td>
                <td><%= h mentee.name %></td>
                <td><%= h mentee.email %></td>
                <td><%= h mentee.phoneNum %></td>
                <td><a href="/editMentee?id=<%= h mentee.id %>"><button>Edit Profile</button></a></td>
                <td>
                  <form method="post" action="suspendMentee">
                    <input type="hidden" name="menteeID" value="<%= mentee.id %>">
                    <button type="submit">Suspend</button>
                  </form>
                  <form method="post" action="unsuspendMentee">
                    <input type="hidden" name="menteeID" value="<%= mentee.id %>">
                    <button type="submit">Unsuspend</button>
                  </form>
                </td>
                <td>
                  <form method="post" action="blockMentee">
                    <input type="hidden" name="menteeID" value="<%= mentee.id %>">
                    <button type="submit">Block</button>
                  </form>
                  <form method="post" action="unblockMentee">
                    <input type="hidden" name="menteeID" value="<%= mentee.id %>">
                    <button type="submit">Unblock</button>
                  </form>
                </td>
              </tr>
            <% end %> 
             </table>    
           
          <% else %>
            <p id="SearchError">Your search revealed no mentees.<br>Maybe the user is a mentor.<br>
            <a href="/searchForAMentor" class="search_info" class="link">Mentor List</a></p>
          <% end %>  
      </div>
</div>

<%= erb :"common/footer" %>
