<%= erb :"common/header_adminA" %>
<div class="background" id="statement">
  
      <div class="full" id="dashboard">
        <h2>Admin Dashboard</h2>
        <div id="dashboardBody">
          <aside class="lSide">
            <!-- Displays the details of the admin logged in -->
            <div class="user_info">
              <h3>My Info</h3>
              <p><b>Name: </b> <i><%= h $admins.name %></i></p>
              <p><b>Email: </b> <i><%= h $admins.email %></i></p>
              <p><b>Phone Number: </b> <i><%= h $admins.phoneNum %></i></p>
              <p><b>Description: </b> <i><%= h $admins.description %></i> </p>
            </div>
          </aside>

          <aside class="rSide">
            <div class="full" id="searchOptions">
              <h3>Options</h3>
              <p><a href="/editAdmin?id=<%= h $admins.id %>">Edit Profile</a></p>
              <p class="search_info"><a href="/searchForAMentor" class="link">Mentor List</a></p>
              <p class="search_info"><a href="/searchForAMentee" class="link">Mentee List</a></p>
              <p class="search_info"><a href="/PendingMenteeApplications" class="link">Pending Mentee Applications</a></p>              
            </div>
          </aside>
            
            
            
        </div>
     </div>
  
</div> 

<%= erb :"common/footer" %>

