<%= @header %>
    <div class="background" id="statement">
      <div class="full">
        <div class="title">Edit your information</div> <!--Main page Title-->
          <!-- Checks if there are no admins           -->
        <% if @admins.nil? %>
            <p class="error"><strong>Unknown admin</strong></p>
        <% else %>
          <!--Checks if erros exist and displays error message if they do.-->
        <% unless @admins.errors.size.zero? %>
            <p><strong class="error">Please correct the errors below:</strong></p>
        <% end %>
          <!-- Checks if the email is the same with others           -->
        <% if @error1 %>
          <p class="error"><strong>Email exists</strong></p>
        <% end %>
          <!--the admin could display the edit form and edit personal information           -->
        <form method="post">
            <input type="hidden" name="id" value="<%= @admins.id %>" />
            <%= erb :"common/admin_edit_form" %>
        </form>
        <div class="warning">
            <!--If the admin delete this account, it will not be found in the future               -->
          <p><strong>WARNING! Deleting your profile cannot be undone.</strong></p>
          <form method="post" action="/deleteAdmin">
              <input type="hidden" name="id" value="<%= @admins.id %>" />
              <input type="submit" value="Delete" onclick="return confirm('Are you sure?')" />
          </form>
        </div>
<% end %>
        <!--Link to the admin dashboard            -->
<p class="navigation">Return to <a href="/AdminDashboard">Admin Dashboard</a>.</p>
      </div>
</div>
<%= erb :"common/footer" %>