<%= erb :"common/header_adminA" %>
    <div class="background" id="statement">
      <div class="full">
        <div class="title">Mentor List</div> <!--Main page Title-->      
          
<!-- Search mentees -->
       
            <form>
              <p>Enter the <strong>Username</strong> to find a Mentor: 
                <!-- Gets the search value(mentor course name) to be searched -->
                <input type="text" name="userName_search" id="searchForMentor" placeholder="Enter the username to search..." maxlength="40" size="30" value="<%= h @userName_search %>"/>
                <input type="submit" value="Submit" />
              </p>
            </form>
          
          <!--Displays the mentor details-->
          <% if @mentors.count> 0 %>
            <table class="display_table">
              <tr id="TableHeadings">
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Edit Profile</th>
                <th>Suspend Mentor</th>
                <th>Unsuspend Mentor</th>
              </tr>
            <% @mentors.each do |mentor| %>
              <tr>
                <td><%= h mentor.username %></td>
                <td><%= h mentor.name %></td>
                <td><%= h mentor.email %></td>
                <td><%= h mentor.phoneNum %></td>
                <td><a href="/editMentor?id=<%= h mentor.id %>"><button>Edit Profile</button></a></td>
                <td>
                  <form method="post" action="suspendMentor">
                    <input type="hidden" name="mentorID" value="<%= mentor.id %>">
                    <button type="submit">
                      Suspend Mentor
                    </button>
                  </form>
                </td>
                <td>
                  <form method="post" action="unsuspendMentor">
                    <input type="hidden" name="mentorID" value="<%= mentor.id %>">
                    <button type="submit">
                      Unsuspend Mentor
                    </button>
                  </form>
                </td>
              </tr>
            <% end %> 
             </table>    
           
          <% else %>
            <p id="SearchError">Your search revealed no mentors<br>Maybe the user is a mentee</p>
            <p class="search_info"><a href="/searchForAMentee" class="link">Mentee List</a></p>
          <% end %>  
      </div>

               
        
</div>

<%= erb :"common/footer" %>