<%= @header %>
    <div class="background" id="statement">
      <div class="full">
        <div class="title">Mentor List</div>     
          <form>
            <p>Enter the <strong>Username</strong> to find a Mentor: 
              <!-- Gets the search value(mentor course name) to be searched -->
              <input type="text" name="userName_search" id="searchForMentor" placeholder="Enter the username to search..." maxlength="40" size="30" value="<%= h @userName_search %>"/>
              <input type="submit" value="Submit" />
            </p>
          </form>

          <!--List of errors depending on action performed -->
          <% if @error1 %>
          <h2><strong class="error">Account has already been suspended</strong></h2>
          <% end %>
          <% if @error2 %>
          <h2><strong class="error">Account has already been unsuspended</strong></h2>
          <% end %>
          <% if @error3 %>
          <h2><strong class="error">Account has already been blocked</strong></h2>
          <% end %>
          <% if @error4 %>
          <h2><strong class="error">Account has already been unblocked</strong></h2>
          <% end %>
          
          <!--Displays the mentor details-->
          <% if @searchedUser.count> 0 %>
            <table class="displayTable">
                <!-- display the name of each column in the table -->
              <tr id="TableHeadings">
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Edit Profile</th>
                <th>Suspend/Unsuspend Mentor</th>
                <th>Block/Unblock Mentor</th>
              </tr>
            <% @searchedUser.each do |mentor| %>
              <tr>
                <td><%= h mentor.username %></td>
                <td><%= h mentor.name %></td>
                <td><%= h mentor.email %></td>
                <td><%= h mentor.phoneNum %></td>
                <td>
                    <!--Edit profile link -->
                    <a href="/editMentor?id=<%= h mentor.id %>"><button>Edit Profile</button></a>
                </td>
                <td>
                    <!--Suspend mentor-->
                  <form method="post" action="suspendMentor">
                    <input type="hidden" name="mentorID" value="<%= mentor.id %>">
                    <button type="submit">Suspend</button>
                  </form>
                    <!--Unsuspend mentor-->
                  <form method="post" action="unsuspendMentor">
                    <input type="hidden" name="mentorID" value="<%= mentor.id %>">
                    <button type="submit">Unsuspend</button>
                  </form>
                </td>
                <td>
                    <!--Block mentor-->
                  <form method="post" action="blockMentor">
                    <input type="hidden" name="mentorID" value="<%= mentor.id %>">
                    <button type="submit">Block</button>
                  </form>
                    <!--Unblock mentor-->
                  <form method="post" action="unblockMentor">
                    <input type="hidden" name="mentorID" value="<%= mentor.id %>">
                    <button type="submit">Unblock</button>
                  </form>
                </td>
              </tr>
            <% end %> 
             </table>    
           
          <% else %>
          <!-- Error if the search comes back empty -->
            <p id="SearchError">Your search revealed no mentors.<br>Maybe the user is a mentee.<br>
            <!-- Link to mentee list -->
            <a href="/searchForAMentee" class="search_info" class="link">Mentee List</a></p>
          <% end %>  
      </div>
</div>

<%= erb :"common/footer" %>
