<%= erb :"common/header_adminA" %>
    <div class="background" id="statement">
      <div class="full">
        <div class="title">Mentor List</div> <!--Main page Title-->      
          
<!-- Search mentees -->
       
            <form>
              <p>Enter the <strong>Username</strong> to find a Mentor: 
                <!-- Gets the search value(mentor course name) to be searched -->
                <input type="text" name="userName_search" id="searchForMentor" placeholder="Enter the username to search..." maxlength="40" size="30" value="<%= h @userName_search %>"/>
                <input type="submit" value="Submit" />
              </p>
            </form>


<!-- Displays error if there is any -->
        <% if @error1 %>
        <h2><strong class="error">Account has already been suspended</strong></h2>
        <% end %>

        <% if @error2 %>
        <h2><strong class="error">Account has already been unsuspended</strong></h2>
        <% end %>
        
        <% if @error3 %>
        <h2><strong class="error">Account has already been blocked</strong></h2>
        <% end %>

        <% if @error4 %>
        <h2><strong class="error">Account has already been unblocked</strong></h2>
        <% end %>
          
          <!--Displays the mentor details-->
          <% if @mentors.count> 0 %>
            <table class="display_table">
              <tr id="TableHeadings">
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Edit Profile</th>
                <th>Suspend/Unsuspend Mentor</th>
                <th>Block/Unblock Mentor</th>
              </tr>
            <% @mentors.each do |mentor| %>
              <tr>
                <td><%= h mentor.username %></td>
                <td><%= h mentor.name %></td>
                <td><%= h mentor.email %></td>
                <td><%= h mentor.phoneNum %></td>
                <td><a href="/editMentor?id=<%= h mentor.id %>"><button>Edit Profile</button></a></td>
                <td>
                  <form method="post" action="suspendMentor">
                    <input type="hidden" name="mentorID" value="<%= mentor.id %>">
                    <button type="submit">Suspend</button>
                  </form>
                  <form method="post" action="unsuspendMentor">
                    <input type="hidden" name="mentorID" value="<%= mentor.id %>">
                    <button type="submit">Unsuspend</button>
                  </form>
                </td>
                <td>
                  <form method="post" action="blockMentor">
                    <input type="hidden" name="mentorID" value="<%= mentor.id %>">
                    <button type="submit">Block</button>
                  </form>
                  <form method="post" action="unblockMentor">
                    <input type="hidden" name="mentorID" value="<%= mentor.id %>">
                    <button type="submit">Unblock</button>
                  </form>
                </td>
              </tr>
            <% end %> 
             </table>    
           
          <% else %>
            <p id="SearchError">Your search revealed no mentors.<br>Maybe the user is a mentee.<br>
            <a href="/searchForAMentee" class="search_info" class="link">Mentee List</a></p>
          <% end %>  
      </div>
</div>

<%= erb :"common/footer" %>
