<%= @header %>
    <div class="background" id="statement">
      <div class="full">
        <div class="title">Edit mentee information</div>
          <!-- Checks if the mentee information exists -->
        <% if @mentees.nil? %>
            <p class="error"><strong>Unknown mentee</strong></p>
        <% else %>
          <!--Checks for errors and displays any error messages -->
        <% unless @mentees.errors.size.zero? %>
            <p><strong class="error">Please correct the errors below:</strong></p>
        <% end %>
        <% if @error1 %>
          <p class="error"><strong>Email exists</strong></p>
        <% end %>
          <!--Displays the edit information form -->
        <form method="post">
            <input type="hidden" name="id" value="<%= @mentees.id %>" />
            <%= erb :"common/mentee_edit_form" %>
        </form>
        <div class="warning">
            <!--Warning message as a deletion removes the record from the database -->
          <p><strong>WARNING! Deleting a profile cannot be undone.</strong></p>
          <form method="post" action="/deleteMentee">
              <input type="hidden" name="id" value="<%= @mentees.id %>" />
              <input type="submit" value="Delete" for="Delete" onclick="return confirm('Are you sure?')" />
          </form>
        </div>
<% end %>
         <p class="navigation">Return to <a href="/AdminDashboard">Admin Dashboard</a>.</p>
      </div>
</div>
<%= erb :"common/footer" %>