<%= erb :"common/header_adminMentorA" %>
<div class="background" id="statement">
  
      <div class="full" id="dashboard">
        <!--Dashboard title for admin who is also the mentor -->
        <h2>Admin + Mentor Dashboard</h2>
        <div id="dashboardBody">
          <aside class="leftSide">
            <!-- Displays the details of the mentor logged in -->
            <div class="userInfo">
              <h3>My Information</h3>
              <p><b>Name: </b> <i><%= h $mentors.name %></i></p>
              <p><b>Email: </b> <i><%= h $mentors.email %></i></p>
              <p><b>Phone Number: </b> <i><%= h $mentors.phoneNum %></i></p>
              <p><b>Job Title: </b> <i><%= h $mentors.jobTitle %></i></p>
              <p><b>Course Name: </b> <i><%= h $mentors.courseName %></i> </p>
              <p><b>Description: </b> <i><%= h $mentors.description %></i> </p>
            </div>
          </aside>

          <aside class="rightSide">
            <div class="full searchOptions">
              <h3>Options</h3>
                <!--Link to view mentees that send application to this mentor -->
              <p class="searchInfo"><a href="/menteeApplications">View mentee applications</a></p>
                <!--Link to edit personal information -->
              <p><a href="/editMentor?id=<%= h $mentors.id %>">Edit Profile</a></p>
            </div>
            <div class="full searchOptions">
              <h3>My Mentee</h3>
                <!--Link to view the matched mentee -->
              <p class="searchInfo"><a href="/myMentee" class="link">My Mentee</a></p>
            </div>
            
            <div class="full searchOptions">
              <h3>Admin Options</h3>
              <!--Link to view all of the mentors -->
              <p class="searchInfo"><a href="/searchForAMentor" class="link">Mentor List</a></p>
              <!--Link to view all of the mentees -->
              <p class="searchInfo"><a href="/searchForAMentee" class="link">Mentee List</a></p>
              <!--Link to view all of the mentees that have sent applications but have not matched with mentors -->
              <p class="searchInfo"><a href="/PendingMenteeApplications" class="link">Pending Mentee Applications</a></p>
              <!--Link to view all of the mentees that have matched with mentors -->
              <p class="searchInfo"><a href="/PairedMentees" class="link">Paired Mentees</a></p>
              <!--Link to view mentors' reports -->
              <p class="searchInfo"><a href="/reports" class="link">Reports</a></p>    
            </div>
          </aside>
        </div>
     </div>
  
</div> 

<%= erb :"common/footer" %>

