<%= erb :"common/header_mentorA" %>
<div  id="statement">
  
      <div class="full">
        <aside class="lSide">
          <div class="full" id="user_info">
            <p>Name: <%= h @mentors.name %></p>
            <p>Email: <%= h @mentors.email %> </p>
            <p>Phone Number: <%= h @mentors.phoneNum %> </p>
            <p>Job Title: <%= h @mentors.jobTitle %></p>
            <p>Course Name: <%= h @mentors.courseName %> </p>
            <td><a href="/editMentor?username=<%= h @mentors.username %>">Edit Profile</a></td>
          </div>
        </aside>

        <aside class="rSide">
          <div class="full">
            <p class="search_info">View mentee applications</p>
          </div>
        </aside>
     </div>
  
</div> 

<%= erb :"common/footer" %>


<!--PAGE USED TO LOGIN-->