<%= erb :"common/header_menteeA" %>
<div class="background" id="statement">
  
      <div class="full" id="dashboard">
        <h2>My Dashboard</h2>
        <div id="dashboardBody">
          <aside class="lSide">
            <div id="user_info">
              <h3>My Info</h3>
              <p><b>ID: </b> <i><%= h $mentees.id %></i></p>
              <p><b>Name: </b> <i><%= h $mentees.name %></i></p>
              <p><b>Email: </b> <i><%= h $mentees.email %></i> </p>
              <p><b>Phone Number: </b> <i><%= h $mentees.phoneNum %></i></p>
              <p><b>Course Name: </b> <i><%= h $mentees.courseName %></i> </p>
              <p><b>Course Year: </b> <%= h $mentees.cyear %> </p>
              <p><b>Description: </b> <%= h $mentees.description %> </p>
            </div>
          </aside>

          <aside class="rSide">
            <div class="full" id="searchOptions">
              <h3>Options</h3>
              <p class="search_info"><a href="/search" class="link">Find a mentor</a></p>
              <p class="search_info"><!--<a href="#com1003" class="link">-->View mentor applications<!--</a>--></p>
              <p><a href="/editMentee?id=<%= h $mentees.id %>">Edit Profile</a></p>
            </div>
          </aside>
        </div>
     </div>
  
</div> 

<%= erb :"common/footer" %>


<!--PAGE USED TO LOGIN-->