<%= erb :"common/header_mentorA" %>
<div  id="statement">
  
      <div class="full">
        <aside class="lSide">
          <div class="full" id="user_info">
            <p>Name: <%= h $mentors.name %></p>
            <p>Email: <%= h $mentors.email %> </p>
            <p>Phone Number: <%= h $mentors.phoneNum %> </p>
            <p>Job Title: <%= h $mentors.jobTitle %></p>
            <p>Course Name: <%= h $mentors.courseName %> </p>
            <p><b>Description: </b> <%= h $mentors.description %> </p>
            <td><a href="/editMentor?id=<%= h $mentors.id %>">Edit Profile</a></td>
          </div>
        </aside>

        <aside class="rSide">
          <div class="full">
            <p class="search_info"><a href="/applications">View mentee applications</a></p>
          </div>
          
           <div class="full" id="searchOptions">
              <h3>My Mentee</h3>
              <p class="search_info"><a href="/myMentee" class="link">My Mentee</a></p>
            </div>
        </aside>
     </div>
  
</div> 

<%= erb :"common/footer" %>

