<%= @header %>
    <div class="background" id="statement">
      <div class="full">
        <div class="title">Edit your information</div> <!--Main page Title-->
          <!-- Checks if there are no mentors           -->
        <% if @mentors.nil? %>
            <p class="error"><strong>Unknown mentor</strong></p>
        <% else %>
          <!--Checks if erros exist and displays error message if they do.-->
        <% unless @mentors.errors.size.zero? %>
            <p><strong class="error">Please correct the errors below:</strong></p>
        <% end %>
          <!-- Checks if the email is the same with others           -->
        <% if @error1 %>
          <p class="error"><strong>Email exists</strong></p>
        <% end %>
          <!--Displays the edit form and could edit personal information          -->
        <form method="post">
            <input type="hidden" name="id" value="<%= @mentors.id %>" />
            <%= erb :"common/mentor_edit_form" %>
        </form>
        <div class="warning">
            <!--If the mentor delete the account, it will not be found in the future               -->
          <p><strong>WARNING! Deleting your profile cannot be undone.</strong></p>
          <form method="post" action="/deleteMentor">
              <input type="hidden" name="id" value="<%= @mentors.id %>" />
              <input type="submit" value="Delete" onclick="return confirm('Are you sure?')" />
          </form>
        </div>
<% end %>
<p class="navigation">Return to <a href="/MentorDashboard">Mentor Dashboard</a>.</p>
      </div>
</div>
<%= erb :"common/footer" %>