<%= erb :"common/header" %>
    <div class="background" id="statement">
      <!--Our Program-->
      <div class="full">
        <div class="title">Mentee Sign Up</div> <!--Main page Title-->  
        
        <% unless @error.nil? %>
        <h2><strong class="error"><%= @error %></strong></h2>
        <% end %>
        
        <form name="myform" action="/MenteeSignUpForm" method="post" onsubmit="alert('Sign up successful! You will be redirected to the Home Page now...');" >
         
          <!--Column 1-->
          <div class="col" id="col1">
            <p>
              <label for="fname" class="options">First name:</label>
              <input type="text" name="fname" id="fname" maxlength="40" size="30" placeholder="Enter first name..."  required value="<%= h @mentees.fname %>"><!--Mandatory field-->
           </p>

            <p>
              <label for="email" class="options">UoS E-mail:</label>
              <input type="email" name="email" id="email" placeholder="Enter your UoS email..." maxlength="40" size="30" required value="<%= h @mentees.email %>"><!--Mandatory field-->
          </p>

          <p>
            <label for="courseName" class="options">Course: </label> <!--Dropdown List-->
            <select name="courseName" id="courseName" required value="<%= h @mentees.courseName %>"> <!--Course List-->
              <option value="">Select</option>
              <option value="Accounting and Financial Management (BA)">Accounting and Financial Management (BA)</option>
              <option value="Accounting and Financial Management and Economics (BA)">Accounting and Financial Management and Economics (BA)</option>
              <option value="Aerospace Engineering (MEng)">Aerospace Engineering (MEng)</option>
              <option value="Aerospace Engineering (BEng)">Aerospace Engineering (BEng)</option>
              <option value="Aerospace Engineering (Private Pilot Instruction) (BEng)">Aerospace Engineering (Private Pilot Instruction) (BEng)</option>
              <option value="Aerospace Engineering (Private Pilot Instruction) (Meng)">Aerospace Engineering (Private Pilot Instruction) (Meng)</option>
              <option value="Aerospace Engineering with a Foundation Year (BEng | MEng)">Aerospace Engineering with a Foundation Year (BEng | MEng)</option>
              <option value="Aerospace Engineering with a Year in Industry (MEng)">Aerospace Engineering with a Year in Industry (MEng)</option>
              <option value="Aerospace Engineering with a Year in Industry (BEng)">Aerospace Engineering with a Year in Industry (BEng)</option>
              <option value="Aerospace Engineering with a Year in North America (Meng)">Aerospace Engineering with a Year in North America (Meng)</option>
              <option value="Applied Social Sciences (BA)">Applied Social Sciences (BA)</option>
              <option value="Archaeology (BA)">Archaeology (BA)</option>
              <option value="Archaeology (BSc)">Archaeology (BSc)</option>
              <option value="Archaeology and History (BA)">Archaeology and History (BA)</option>
              <option value="Archaeology and Modern Languages & Cultures (BA)">Archaeology and Modern Languages & Cultures (BA)</option>
              <option value="Architectural Engineering (MEng)">Architectural Engineering (MEng)</option>
              <option value="Architectural Engineering with a Year in Industry (MEng)">Architectural Engineering with a Year in Industry (MEng)</option>
              <option value="Architecture (BA)">Architecture (BA)</option>
              <option value="Architecture and Landscape (BA)">Architecture and Landscape (BA)</option>
              <option value="Artificial Intelligence and Computer Science (BSc)">Artificial Intelligence and Computer Science (BSc)</option>
              <option value="Artificial Intelligence and Computer Science (MComp)">Artificial Intelligence and Computer Science (MComp)</option>
              <option value="Artificial Intelligence and Computer Science with a Year in Industry (MComp)">Artificial Intelligence and Computer Science with a Year in Industry (MComp)</option>
              <option value="Artificial Intelligence and Computer Science with a Year in Industry (BSc)">Artificial Intelligence and Computer Science with a Year in Industry (BSc)</option>
              <option value="Bio-dental Science and Technology (BSc)">Bio-dental Science and Technology (BSc)</option>
              <option value="Biochemistry (BSc)">Biochemistry (BSc)</option>
              <option value="Biochemistry (MBiolSci)">Biochemistry (MBiolSci)</option>
              <option value="Biochemistry and Genetics (BSc)">Biochemistry and Genetics (BSc)</option>
              <option value="Biochemistry and Genetics (MBiolSci)">Biochemistry and Genetics (MBiolSci)</option>
              <option value="Biochemistry and Genetics with a Year in Industry (BSc)">Biochemistry and Genetics with a Year in Industry (BSc)</option>
              <option value="Biochemistry and Microbiology (MBiolSci)">Biochemistry and Microbiology (MBiolSci)</option>
              <option value="Biochemistry and Microbiology (BSc)">Biochemistry and Microbiology (BSc)</option>
              <option value="Biochemistry and Microbiology with a Year in Industry (BSc)">Biochemistry and Microbiology with a Year in Industry (BSc)</option>
              <option value="Biochemistry with a Year in Industry (BSc)">Biochemistry with a Year in Industry (BSc)</option>
              <option value="Bioengineering (MEng)">Bioengineering (MEng)</option>
              <option value="Bioengineering (BEng)">Bioengineering (BEng)</option>
              <option value="Bioengineering with a Foundation Year (BEng | MEng)">Bioengineering with a Foundation Year (BEng | MEng)</option>
              <option value="Bioengineering with a Year in Industry (MEng)">Bioengineering with a Year in Industry (MEng)</option>
              <option value="Bioengineering with a Year in Industry (BEng)">Bioengineering with a Year in Industry (BEng)</option>
              <option value="Biology (BSc)">Biology (BSc)</option>
              <option value="Biology (MBiolSci)">Biology (MBiolSci)</option>
              <option value="Biology with a Year Abroad (MBiolSci)">Biology with a Year Abroad (MBiolSci)</option>
              <option value="Biology with a Year Abroad (BSc)">Biology with a Year Abroad (BSc)</option>
              <option value="Biology with Placement Year (BSc)">Biology with Placement Year (BSc)</option>
              <option value="Biology with Placement Year (MBiolSci)">Biology with Placement Year (MBiolSci)</option>
              <option value="Biomedical Science (BSc)">Biomedical Science (BSc)</option>
              <option value="Biomedical Science (MBiomedSci)">Biomedical Science (MBiomedSci)</option>
              <option value="Biomedical Science with a Year Abroad (BSc)">Biomedical Science with a Year Abroad (BSc)</option>
              <option value="Biomedical Science with a Year in Industry (BSc)">Biomedical Science with a Year in Industry (BSc)</option>
              <option value="Biomedical Science with a Year in Industry (MBiomedSci)">Biomedical Science with a Year in Industry (MBiomedSci)</option>
              <option value="Biosciences with a Foundation Year (BSc)">Biosciences with a Foundation Year (BSc)</option>
              <option value="Business Management (BA)">Business Management (BA)</option>
              <option value="Business Management and Economics (BA)">Business Management and Economics (BA)</option>
              <option value="Business Management and Japanese Studies (BA)">Business Management and Japanese Studies (BA)</option>
              <option value="Business Management and Modern Languages & Cultures (BA)">Business Management and Modern Languages & Cultures (BA)</option>
              <option value="Chemical Engineering (BEng)">Chemical Engineering (BEng)</option>
              <option value="Chemical Engineering (MEng)">Chemical Engineering (MEng)</option>
              <option value="Chemical Engineering with a Foundation Year (BEng | MEng)">Chemical Engineering with a Foundation Year (BEng | MEng)</option>
              <option value="Chemical Engineering with a Year in Australasia (MEng)">Chemical Engineering with a Year in Australasia (MEng)</option>
              <option value="Chemical Engineering with a Year in Industry (MEng)">Chemical Engineering with a Year in Industry (MEng)</option>
              <option value="Chemical Engineering with Industrial ExperienceBEng">Chemical Engineering with Industrial ExperienceBEng</option>
              <option value="Chemistry (BSc)">Chemistry (BSc)</option>
              <option value="Chemistry (MChem)">Chemistry (MChem)</option>
              <option value="Chemistry with a Foundation Year (BSc | MChem)">Chemistry with a Foundation Year (BSc | MChem)</option>
              <option value="Chemistry with a Year in Industry (MChem)">Chemistry with a Year in Industry (MChem)</option>
              <option value="Chemistry with a Year in Industry (BSc)">Chemistry with a Year in Industry (BSc)</option>
              <option value="Chemistry with Biological and Medicinal Chemistry (MChem)">Chemistry with Biological and Medicinal Chemistry (MChem)</option>
              <option value="Chemistry with Biological and Medicinal Chemistry (BSc)">Chemistry with Biological and Medicinal Chemistry (BSc)</option>
              <option value="Chemistry with Study Abroad (MChem)">Chemistry with Study Abroad (MChem)</option>
              <option value="Chinese Studies (BA)">Chinese Studies (BA)</option>
              <option value="Chinese Studies and Business Management (BA)">Chinese Studies and Business Management (BA)</option>
              <option value="Chinese Studies and History (BA)">Chinese Studies and History (BA)</option>
              <option value="Chinese Studies with Japanese (BA)">Chinese Studies with Japanese (BA)</option>
              <option value="Civil and Structural Engineering (MEng)">Civil and Structural Engineering (MEng)</option>
              <option value="Civil and Structural Engineering with a Foundation Year (BEng | MEng)">Civil and Structural Engineering with a Foundation Year (BEng | MEng)</option>
              <option value="Civil and Structural Engineering with a Year in Industry (MEng)">Civil and Structural Engineering with a Year in Industry (MEng)</option>
              <option value="Civil Engineering (MEng)">Civil Engineering (MEng)</option>
              <option value="Civil Engineering (BEng)">Civil Engineering (BEng)</option>
              <option value="Civil Engineering with a Year in Industry (MEng)">Civil Engineering with a Year in Industry (MEng)</option>
              <option value="Civil Engineering with a Year in Industry (BEng)">Civil Engineering with a Year in Industry (BEng)</option>
              <option value="Computer Science (BSc)">Computer Science (BSc)</option>
              <option value="Computer Science (MComp)">Computer Science (MComp)</option>
              <option value="Computer Science with a Foundation (YearBSc | MComp)">Computer Science with a Foundation (YearBSc | MComp)</option>
              <option value="Computer Science with a Year in Industry (BSc)">Computer Science with a Year in Industry (BSc)</option>
              <option value="Computer Science with a Year in Industry (MComp)">Computer Science with a Year in Industry (MComp)</option>
              <option value="Computer Systems Engineering (BEng)">Computer Systems Engineering (BEng)</option>
              <option value="Computer Systems Engineering with a Year in Industry (BEng)">Computer Systems Engineering with a Year in Industry (BEng)</option>
              <option value="Criminology (BA)">Criminology (BA)</option>
              <option value="Dental Hygiene and Dental Therapy (Higher Education Diploma)">Dental Hygiene and Dental Therapy (Higher Education Diploma)</option>
              <option value="Dental Surgery (BDS)">Dental Surgery (BDS)</option>
              <option value="Digital Media and Society (BA)">Digital Media and Society (BA)</option>
              <option value="East Asian Studies (BA)">East Asian Studies (BA)</option>
              <option value="Ecology and Conservation Biology (BSc)">Ecology and Conservation Biology (BSc)</option>
              <option value="Ecology and Conservation Biology (MBiolSci)">Ecology and Conservation Biology (MBiolSci)</option>
              <option value="Ecology and Conservation Biology with Placement Year (MBiolSci)">Ecology and Conservation Biology with Placement Year (MBiolSci)</option>
              <option value="Ecology and Conservation Biology with Placement Year (BSc)">Ecology and Conservation Biology with Placement Year (BSc)</option>
              <option value="Economics (BA)">Economics (BA)</option>
              <option value="Economics (BSc)">Economics (BSc)</option>
              <option value="Economics and Mathematics (BSc)">Economics and Mathematics (BSc)</option>
              <option value="Economics and Modern Languages & Cultures (BA)">Economics and Modern Languages & Cultures (BA)</option>
              <option value="Economics and Politics (BA)">Economics and Politics (BA)</option>
              <option value="Economics with Finance (BSc)">Economics with Finance (BSc)</option>
              <option value="Education, Culture and Childhood (BA)">Education, Culture and Childhood (BA)</option>
              <option value="Electrical and Electronic Engineering (MEng)">Electrical and Electronic Engineering (MEng)</option>
              <option value="Electrical and Electronic Engineering (BEng)">Electrical and Electronic Engineering (BEng)</option>
              <option value="Electrical and Electronic Engineering with a Foundation Year (BEng | MEng)">Electrical and Electronic Engineering with a Foundation Year (BEng | MEng)</option>
              <option value="Electrical and Electronic Engineering with a Year in Industry (MEng)">Electrical and Electronic Engineering with a Year in Industry (MEng)</option>
              <option value="Electrical and Electronic Engineering with a Year in Industry (BEng)">Electrical and Electronic Engineering with a Year in Industry (BEng)</option>
              <option value="Electrical Engineering (BEng)">Electrical Engineering (BEng)</option>
              <option value="Electronic Engineering (BEng)">Electronic Engineering (BEng)</option>
              <option value="Electronics and Computer Engineering (BEng)">Electronics and Computer Engineering (BEng)</option>
              <option value="Electronics and Computer Engineering (MEng)">Electronics and Computer Engineering (MEng)</option>
              <option value="English and History (BA)">English and History (BA)</option>
              <option value="English and Modern Languages & Cultures (BA)">English and Modern Languages & Cultures (BA)</option>
              <option value="English and Music (BA)">English and Music (BA)</option>
              <option value="English and Philosophy (BA)">English and Philosophy (BA)</option>
              <option value="English Language and Linguistics (BA)">English Language and Linguistics (BA)</option>
              <option value="English Language and Literature (BA)">English Language and Literature (BA)</option>
              <option value="English Literature (BA)">English Literature (BA)</option>
              <option value="Environmental Science (MEnvSci)">Environmental Science (MEnvSci)</option>
              <option value="Environmental Science (BSc)">Environmental Science (BSc)</option>
              <option value="Financial Mathematics (BSc)">Financial Mathematics (BSc)</option>
              <option value="General Engineering (MEng (Hons))">General Engineering (MEng (Hons))</option>
              <option value="General Engineering (BEng (Hons))">General Engineering (BEng (Hons))</option>
              <option value="General Engineering with a Foundation Year (MEng (Hons))">General Engineering with a Foundation Year (MEng (Hons))</option>
              <option value="General Engineering with a Year in Industry(BEng (Hons))">General Engineering with a Year in Industry(BEng (Hons))</option>
              <option value="General Engineering with a Year in Industry (MEng (Hons))">General Engineering with a Year in Industry (MEng (Hons))</option>
              <option value="Genetics (BSc)">Genetics (BSc)</option>
              <option value="Genetics (MBiolSci)">Genetics (MBiolSci)</option>
              <option value="Genetics with a Year in Industry (BSc)">Genetics with a Year in Industry (BSc)</option>
              <option value="Geography (BA)">Geography (BA)</option>
              <option value="Geography (MGeogSci)">Geography (MGeogSci)</option>
              <option value="Geography (BSc)">Geography (BSc)</option>
              <option value="Geography and Planning (BA)">Geography and Planning (BA)</option>
              <option value="Graduate Entry Medicine (MBChB)">Graduate Entry Medicine (MBChB)</option>
              <option value="Health and Human Sciences (BMedSci)">Health and Human Sciences (BMedSci)</option>
              <option value="History (BA)">History (BA)</option>
              <option value="History and Modern Languages & Cultures (BA)">History and Modern Languages & Cultures (BA)</option>
              <option value="History and Music (BA)">History and Music (BA)</option>
              <option value="History and Philosophy (BA)">History and Philosophy (BA)</option>
              <option value="History and Politics (BA)">History and Politics (BA)</option>
              <option value="History and Sociology (BA)">History and Sociology (BA)</option>
              <option value="Intelligent Systems and Control Engineering (BEng)">Intelligent Systems and Control Engineering (BEng)</option>
              <option value="International Business Management with Study Abroad (BA)">International Business Management with Study Abroad (BA)</option>
              <option value="International Relations and Politics (BA)">International Relations and Politics (BA)</option>
              <option value="Japanese Studies (BA)">Japanese Studies (BA)</option>
              <option value="Japanese Studies and History (BA)">Japanese Studies and History (BA)</option>
              <option value="Journalism Studies (BA)">Journalism Studies (BA)</option>
              <option value="Korean Studies (BA)">Korean Studies (BA)</option>
              <option value="Korean Studies with Japanese (BA)">Korean Studies with Japanese (BA)</option>
              <option value="Landscape Architecture (BA)">Landscape Architecture (BA)</option>
              <option value="Landscape Architecture (BSc)">Landscape Architecture (BSc)</option>
              <option value="Law (LLB)">Law (LLB)</option>
              <option value="Law (European and International) (LLB)">Law (European and International) (LLB)</option>
              <option value="Law (with Chinese Law) (LLB)">Law (with Chinese Law) (LLB)</option>
              <option value="Law (with Spanish Law) (LLB)">Law (with Spanish Law) (LLB)</option>
              <option value="Law and Criminology (LLB)">Law and Criminology (LLB)</option>
              <option value="Linguistics and Japanese Studies (BA)">Linguistics and Japanese Studies (BA)</option>
              <option value="Linguistics and Modern Languages & Cultures (BA)">Linguistics and Modern Languages & Cultures (BA)</option>
              <option value="Linguistics and Philosophy (BA)">Linguistics and Philosophy (BA)</option>
              <option value="Materials Science and Engineering (MEng)">Materials Science and Engineering (MEng)</option>
              <option value="Materials Science and Engineering (BEng)">Materials Science and Engineering (BEng)</option>
              <option value="Materials Science and Engineering with a Foundation Year(BEng | MEng)">Materials Science and Engineering with a Foundation Year(BEng | MEng)</option>
              <option value="Materials Science and Engineering with a Year in Industry (BEng)">Materials Science and Engineering with a Year in Industry (BEng)</option>
              <option value="Mathematics (MMath)">Mathematics (MMath)</option>
              <option value="Mathematics (BSc)">Mathematics (BSc)</option>
              <option value="Mathematics and Philosophy (BSc)">Mathematics and Philosophy (BSc)</option>
              <option value="Mathematics and Statistics (MMath)">Mathematics and Statistics (MMath)</option>
              <option value="Mathematics and Statistics (BSc)">Mathematics and Statistics (BSc)</option>
              <option value="Mathematics and Statistics with Placement Year (MMath)">Mathematics and Statistics with Placement Year (MMath)</option>
              <option value="Mathematics and Statistics with Placement Year (BSc)">Mathematics and Statistics with Placement Year (BSc)</option>
              <option value="Mathematics with a Year Abroad (MMath)">Mathematics with a Year Abroad (MMath)</option>
              <option value="Mathematics with French (MMath)">Mathematics with French (MMath)</option>
              <option value="Mathematics with German (MMath)">Mathematics with German (MMath)</option>
              <option value="Mathematics with Placement Year (MMath)">Mathematics with Placement Year (MMath)</option>
              <option value="Mathematics with Placement Year (BSc)">Mathematics with Placement Year (BSc)</option>
              <option value="Mathematics with Spanish (MMath)">Mathematics with Spanish (MMath)</option>
              <option value="Mathematics with Study in Europe (MMath)">Mathematics with Study in Europe (MMath)</option>
              <option value="Mechanical Engineering (MEng)">Mechanical Engineering (MEng)</option>
              <option value="Mechanical Engineering (BEng)">Mechanical Engineering (BEng)</option>
              <option value="Mechanical Engineering with a Foundation Year (BEng | MEng)">Mechanical Engineering with a Foundation Year (BEng | MEng)</option>
              <option value="Mechanical Engineering with a Year in Industry (MEng)">Mechanical Engineering with a Year in Industry (MEng)</option>
              <option value="Mechanical Engineering with a Year in Industry (BEng)">Mechanical Engineering with a Year in Industry (BEng)</option>
              <option value="Mechanical Engineering with a Year in North America (MEng)">Mechanical Engineering with a Year in North America (MEng)</option>
              <option value="Mechatronic and Robotic Engineering (BEng)">Mechatronic and Robotic Engineering (BEng)</option>
              <option value="Mechatronic and Robotic Engineering (MEng)">Mechatronic and Robotic Engineering (MEng)</option>
              <option value="Mechatronic and Robotic Engineering with a Year in Industry (MEng)">Mechatronic and Robotic Engineering with a Year in Industry (MEng)</option>
              <option value="Mechatronic and Robotic Engineering with a Year in Industry (BEng)">Mechatronic and Robotic Engineering with a Year in Industry (BEng)</option>
              <option value="Medical Biochemistry (BSc)">Medical Biochemistry (BSc)</option>
              <option value="Medical Biochemistry (MBiolSci)">Medical Biochemistry (MBiolSci)</option>
              <option value="Medical Biochemistry with a Year in Industry (BSc)">Medical Biochemistry with a Year in Industry (BSc)</option>
              <option value="Medical Genetics (BSc)">Medical Genetics (BSc)</option>
              <option value="Medical Genetics (MBiolSci)">Medical Genetics (MBiolSci)</option>
              <option value="Medical Genetics with a Year in Industry (BSc)">Medical Genetics with a Year in Industry (BSc)</option>
              <option value="Medical Microbiology (MBiolSci)">Medical Microbiology (MBiolSci)</option>
              <option value="Medical Microbiology (BSc)">Medical Microbiology (BSc)</option>
              <option value="Medical Microbiology with a Year in Industry (BSc)">Medical Microbiology with a Year in Industry (BSc)</option>
              <option value="Medicine (MBChB)">Medicine (MBChB)</option>
              <option value="Microbiology (MBiolSci)">Microbiology (MBiolSci)</option>
              <option value="Microbiology (BSc)">Microbiology (BSc)</option>
              <option value="Microbiology with a Year in Industry (BSc)">Microbiology with a Year in Industry (BSc)</option>
              <option value="Modern Languages and Cultures (BA)">Modern Languages and Cultures (BA)</option>
              <option value="Molecular Biology (MBiolSci)">Molecular Biology (MBiolSci)</option>
              <option value="Molecular Biology (BSc)">Molecular Biology (BSc)</option>
              <option value="Molecular Biology with a Year in Industry (BSc)">Molecular Biology with a Year in Industry (BSc)</option>
              <option value="Music (BMus)">Music (BMus)</option>
              <option value="Music and Korean Studies (BA)">Music and Korean Studies (BA)</option>
              <option value="Music and Modern Languages & Cultures (BA)">Music and Modern Languages & Cultures (BA)</option>
              <option value="Music and Philosophy (BA)">Music and Philosophy (BA)</option>
              <option value="Nursing (Adult) (BMedSci)">Nursing (Adult) (BMedSci)</option>
              <option value="Orthoptics (BMedSci)">Orthoptics (BMedSci)</option>
              <option value="Philosophy (BA)">Philosophy (BA)</option>
              <option value="Philosophy and Modern Languages & Cultures (BA)">Philosophy and Modern Languages & Cultures (BA)</option>
              <option value="Philosophy, Religion and Ethics (BA)">Philosophy, Religion and Ethics (BA)</option>
              <option value="Physics (MPhys)">Physics (MPhys)</option>
              <option value="Physics (BSc)">Physics (BSc)</option>
              <option value="Physics and Astrophysics (MPhys)">Physics and Astrophysics (MPhys)</option>
              <option value="Physics and Astrophysics (BSc)">Physics and Astrophysics (BSc)</option>
              <option value="Physics and Astrophysics with a Year in Industry (MPhys)">Physics and Astrophysics with a Year in Industry (MPhys)</option>
              <option value="Physics and Astrophysics with a Year in Industry (BSc)">Physics and Astrophysics with a Year in Industry (BSc)</option>
              <option value="Physics and Astrophysics with Study Abroad (MPhys)">Physics and Astrophysics with Study Abroad (MPhys)</option>
              <option value="Physics with a Foundation Year (BSc | MPhys)">Physics with a Foundation Year (BSc | MPhys)</option>
              <option value="Physics with a Year in Industry (MPhys)">Physics with a Year in Industry (MPhys)</option>
              <option value="Physics with a Year in Industry (BSc)">Physics with a Year in Industry (BSc)</option>
              <option value="Physics with Medical Physics (MPhys)">Physics with Medical Physics (MPhys)</option>
              <option value="Physics with Medical Physics (BSc)">Physics with Medical Physics (BSc)</option>
              <option value="Physics with Particle Physics (MPhys)">Physics with Particle Physics (MPhys)</option>
              <option value="Physics with Particle Physics (BSc)">Physics with Particle Physics (BSc)</option>
              <option value="Physics with Philosophy (MPhys)">Physics with Philosophy (MPhys)</option>
              <option value="Physics with Philosophy (BSc)">Physics with Philosophy (BSc)</option>
              <option value="Physics with Study Abroad (MPhys)">Physics with Study Abroad (MPhys)</option>
              <option value="Plant Sciences (MBiolSci)">Plant Sciences (MBiolSci)</option>
              <option value="Plant Sciences (BSc)">Plant Sciences (BSc)</option>
              <option value="Plant Sciences with Placement Year (BSc)">Plant Sciences with Placement Year (BSc)</option>
              <option value="Plant Sciences with Placement Year (MBiolSci)">Plant Sciences with Placement Year (MBiolSci)</option>
              <option value="Politics (BA)">Politics (BA)</option>
              <option value="Politics and Modern Languages & Cultures (BA)">Politics and Modern Languages & Cultures (BA)</option>
              <option value="Politics and Philosophy (BA)">Politics and Philosophy (BA)</option>
              <option value="Politics and Sociology (BA)">Politics and Sociology (BA)</option>
              <option value="Politics, Philosophy and Economics (BA)">Politics, Philosophy and Economics (BA)</option>
              <option value="Psychology (BSc)">Psychology (BSc)</option>
              <option value="Quantitative Social Sciences (BSc)">Quantitative Social Sciences (BSc)</option>
              <option value="Robotics with a Foundation Year (BEng)">Robotics with a Foundation Year (BEng)</option>
              <option value="Robotics with a Foundation Year (MEng)">Robotics with a Foundation Year (MEng)</option>
              <option value="Sociology (BA)">Sociology (BA)</option>
              <option value="Sociology with Criminology (BA)">Sociology with Criminology (BA)</option>
              <option value="Sociology with Social Policy (BA)">Sociology with Social Policy (BA)</option>
              <option value="Software Engineering (BEng)">Software Engineering (BEng)</option>
              <option value="Software Engineering (MEng)">Software Engineering (MEng)</option>
              <option value="Software Engineering with a Foundation Year (BEng | MEng)">Software Engineering with a Foundation Year (BEng | MEng)</option>
              <option value="Software Engineering with a Year in Industry (MEng)">Software Engineering with a Year in Industry (MEng)</option>
              <option value="Software Engineering with a Year in Industry (BEng)">Software Engineering with a Year in Industry (BEng)</option>
              <option value="Speech and Language Therapy (BMedSci)">Speech and Language Therapy (BMedSci)</option>
              <option value="Structural Engineering and Architecture (MEng)">Structural Engineering and Architecture (MEng)</option>
              <option value="Structural Engineering and Architecture with a Year in Industry (MEng)">Structural Engineering and Architecture with a Year in Industry (MEng)</option>
              <option value="Theoretical Physics (MPhys)">Theoretical Physics (MPhys)</option>
              <option value="Theoretical Physics (BSc)">Theoretical Physics (BSc)</option>
              <option value="Theoretical Physics with a Year in Industry (MPhys)">Theoretical Physics with a Year in Industry (MPhys)</option>
              <option value="Theoretical Physics with a Year in Industry (BSc)">Theoretical Physics with a Year in Industry (BSc)</option>
              <option value="Theoretical Physics with Study Abroad (MPhys)">Theoretical Physics with Study Abroad (MPhys)</option>
              <option value="Urban Studies (BA)">Urban Studies (BA)</option>
              <option value="Urban Studies and Planning (MPlan (UG))">Urban Studies and Planning (MPlan (UG))</option>
              <option value="Zoology (MBiolSci)">Zoology (MBiolSci)</option>
              <option value="Zoology (BSc)">Zoology (BSc)</option>
              <option value="Zoology with Placement Year (MBiolSci)">Zoology with Placement Year (MBiolSci)</option>
              <option value="Zoology with Placement Year (BSc)">Zoology with Placement Year (BSc)</option>


            </select>
          </p>
          
          <p>
            <label for="username" class="options">Username:</label>
            <input type="text" name="username" id="username" placeholder="Enter your username..." maxlength="40" size="30" required value="<%= h @mentees.username %>"><!--Mandatory field-->
          </p>             
            
          </div>

          <!--Column 2-->
          <div class="col" id="col2">
            <p>
              <label for="lname" class="options">Last name:</label>
              <input type="text" name="lname" id="lname" maxlength="40" size="30" placeholder="Enter last name..."  required value="<%= h @mentees.lname %>"><!--Mandatory field-->
            </p>

            <p>
              <label for="phoneNum" class="options">Phone Number:</label>
              <input type="text" name="phoneNum" id="phoneNum" placeholder="+XX XXXXXXXXXX" maxlength="40" size="30" required value="<%= h @mentees.phoneNum %>"><!--Mandatory field-->
            </p>

            <p>
              <label for="cyear" class="options">Year of study: </label> <!--Dropdown list-->
              <select name="cyear" id="cyear" required value="<%= h @mentees.cyear %>">
                <option value="">Select</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
              </select>
            </p>

          <p>
            <label for="password" class="options">Password:</label>
            <input type="password" name="password" id="password" placeholder="Enter your password..." maxlength="40" size="30" required value="<%= h @mentees.password %>"><!--Mandatory field-->
          </p> 

          </div>
          
            <!--Submit/Reset buttons-->
          <p>
            <input type="submit" id="submit" value="Submit">
            <input type="reset" id="reset" value="Reset">
          </p>
          <!--</div>-->
        </form>

      </div>

    </div> 

<%= erb :"common/footer" %>
