<%= erb :"common/header_menteeA" %>
    <div class="background" id="statement">
      <div class="full">
        <div class="title">Search for a Mentor</div> <!--Main page Title-->  

            <form>
              <p>Enter a COURSE NAME to display mentors: 
                <input type="text" name="courseName_search" id="searchForMentor" placeholder="Enter course name to search..." maxlength="40" size="30" value="<%= h @courseName_search %>"/>
                <input type="submit" value="Submit" />
              </p>
            </form>

          <% if @mentors.count > 0 %>
            <table id="MentorTable">
              <tr id="TableHeadings">
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Job Title</th>
                <th>Course Name</th>
              </tr>
            <% @mentors.each do |mentor| %>
              <tr>
                <td><%= h mentor.name %></td>
                <td><%= h mentor.email %></td>
                <td><%= h mentor.phoneNum %></td>
                <td><%= h mentor.jobTitle %></td>
                <td><%= h mentor.courseName %></td>
              </tr>
            <% end %> 
            </table>
          <% else %>
            <p id="SearchError">Your search revealed no mentors</p>
          <% end %>
      </div>
</div>

<%= erb :"common/footer" %>