<%= erb :"common/header_menteeA" %>
    <div class="background" id="statement">
      <div class="full">
        <div class="title">Search for a Mentor</div> <!--Main page Title-->  
        
        <!-- Displays error if there is any -->
        <% if @error %>
        <h2><strong class="error">Application already sent!</strong></h2>
        <% end %> 

            <form>
              <p>Enter a <strong>COURSE NAME</strong> to display mentors: 
                <!-- Gets the search value(mentor course name) to be searched -->
                <input type="text" name="courseName_search" id="searchForMentor" placeholder="Enter course name to search..." maxlength="40" size="30" value="<%= h @courseName_search %>"/>
                <input type="submit" value="Submit" />
              </p>
            </form>
          
          <!--Displays the mentor details-->
          <% if @mentors.count > 0 %>
            <table class="display_table">
              <tr id="TableHeadings">
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Job Title</th>
                <th>Course Name</th>
                <th>Send application</th>
              </tr>
            <% @mentors.each do |mentor| %>
              <tr>
                <td><%= h mentor.name %></td>
                <td><%= h mentor.email %></td>
                <td><%= h mentor.phoneNum %></td>
                <td><%= h mentor.jobTitle %></td>
                <td><%= h mentor.courseName %></td>
                <td>
                  <form method="post" action="addApplication">
                    <input type="hidden" name="menteeID" value="<%= $mentees.id %>">
                    <input type="hidden" name="mentorID" value="<%= mentor.id %>">
                    <button type="submit">
                      Send application
                    </button>
                  </form>
                </td>
              </tr>
            <% end %> 
            </table>
          <% else %>
            <p id="SearchError">Your search revealed no mentors</p>
          <% end %>
      </div>
</div>

<%= erb :"common/footer" %>