<!-- Admin views the pending mentee applications mentees sent to potential mentors -->
<%= @header %>
<div class="background" id="statement">
  
      <div class="full">
        <h2>Reports from mentors</h2>
        <div class="user_info" id="application">
          <!-- Displays all the mentee applications that are pending -->
          <% if @reportsInfo.count > 0 %>
            <table class="display_table">
              <tr id="TableHeadings">
<!--                 <th>Mentee ID</th>
                <th>Mentee Name</th>
                <th>Mentee Email</th>
                <th>Mentor ID</th>
                <th>Mentor Name</th>
                <th>Mentor Email</th> -->
                <th>Mentor ID</th>
                <th>Mentor username</th>
                <th>Report caption</th>
                <th>View Report</th>
                <th>Dismiss Report</th>
              </tr>
            <% (0...@reportsInfo.count).each do |report| %>
                
              <tr>
                <td><%= @reportsInfo[report][0] %></td>
                <td><%= @reportsInfo[report][1] %></td>
                <td><%= @reportsInfo[report][2] %></td>
                <td>
                  <form method="get" action="/viewReport">
                    <input type="hidden" name="reportID" value="<%= @reportsInfo[report][3] %>">
                    <button type="submit">View</button>
                  </form>
                </td>
                <td>
                  <form method="post" action="dismissReport">
                    <input type="hidden" name="reportID" value="<%= @reportsInfo[report][3] %>">
                    <button type="submit" onclick="alert('Report dismissed successfully.')">Dismiss</button>
                  </form>
                </td>
              </tr>
            <% end %> 
            </table>
          <% else %>
            <p id="SearchError">No mentor has reported their mentee yet!</p>
          <% end %>
         </div>
     </div>
  
</div> 

<%= erb :"common/footer" %>
