<%= erb :"common/header_mentorA" %>
<div class="background" id="statement">
  
      <div class="full">
        <h2>My Mentee</h2>
        <p>Details of your current mentee will appear here:</p>
        <div class="user_info" id="application">
          <!-- Displays the details of the mentee the mentor is matched to -->
          <% if @menteeMatchedList.count > 0 %>
              <h2>Mentee Infomation:</h2>
              <table class="display_table">
                <tr id="TableHeadings">
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Course Year</th>
                  <th>Course Name</th>
                  <th>Description</th>
                </tr>
              <% @menteeMatchedList.each do |mentee| %>
                <tr>
                  <td><%= h mentee.name %></td>
                  <td><%= h mentee.email %></td>
                  <td><%= h mentee.phoneNum %></td>
                  <td><%= h mentee.cyear %></td>
                  <td><%= h mentee.courseName %></td>
                  <td><%= h mentee.description %></td>
                  <td>
                  </td>
                </tr>
              <% end %> 
              </table>
            <% else %>
              <p id="SearchError">You do not have a mentee yet!</p>
            <% end %>
          </div> 
     </div>
  
</div> 

<%= erb :"common/footer" %>
