<%= erb :"common/header_menteeA" %>
<div class="background" id="statement">
  
      <div class="full">
        <h2>My Mentor</h2>
        <p>Details of your current mentor will appear here:</p>
        <div class="user_info" id="application">
          <!-- Displays the details of the mentor the mentee is matched to -->
          <% if @mentorMatchedList.count > 0 %>
              <h2>Mentor Infomation:</h2>
              <table class="display_table">
                <tr id="TableHeadings">
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Job Title</th>
                  <th>Course Name</th>
                  <th>Description</th>
                </tr>
              <% @mentorMatchedList.each do |mentor| %>
                <tr>
                  <td><%= h mentor.name %></td>
                  <td><%= h mentor.email %></td>
                  <td><%= h mentor.phoneNum %></td>
                  <td><%= h mentor.jobTitle %></td>
                  <td><%= h mentor.courseName %></td>
                  <td><%= h mentor.description %></td>
                  <td>
                  </td>
                </tr>
              <% end %> 
              </table>
            <% else %>
              <p id="SearchError">You do not have a mentor yet!</p>
            <% end %>
        </div>
     </div>
  
</div> 

<%= erb :"common/footer" %>
