<%= erb :"common/header_mentorA" %>
<div class="background" id="statement">
  
      <div class="full">
        <h2>My Mentee</h2>
        <p>Details of your current mentee will appear here:</p>
        <div class="user_info" id="application">
          <!-- Displays the details of the mentee the mentor is matched to -->
          <% if @menteeMatchedList.count > 0 %>
              <h2>Mentee Infomation:</h2>
               <% @menteeMatchedList.each do |mentee| %>
                <p><b>Name: </b> <i><%= h mentee.name %></i></p>
                <p><b>Email: </b> <i><%= h mentee.email %></i></p>
                <p><b>Phone Number: </b> <i><%= h mentee.phoneNum %></i></p>
                <p><b>Course Name: </b> <i><%= h mentee.courseName %></i> </p>
                <p><b>Faculty: </b> <i><%= h mentee.faculty %></i> </p>
                <p><b>Course Year: </b> <i><%= h mentee.cyear %></i> </p>
                <p><b>Description: </b> <i><%= h mentee.description %></i> </p>
              <% end %>
            <% else %>
              <p id="SearchError">You do not have a mentee yet!</p>
            <% end %>
          </div> 
     </div>
  
</div> 

<%= erb :"common/footer" %>
