<%= erb :"common/header_menteeA" %>
<div class="background" id="statement">
  
      <div class="full">
        <h2>My Mentor</h2>
        <p>Details of your current mentor will appear here:</p>
        <div class="user_info" id="application">
          <!-- Displays the details of the mentor the mentee is matched to -->
          <% if @mentorMatchedList.count > 0 %>
              <h2>Mentor Infomation:</h2>
              <% @mentorMatchedList.each do |mentor| %>
                <p><b>Name: </b> <i><%= h mentor.name %></i></p>
                <p><b>Email: </b> <i><%= h mentor.email %></i></p>
                <p><b>Phone Number: </b> <i><%= h mentor.phoneNum %></i></p>
                <p><b>Job Title: </b> <i><%= h mentor.jobTitle %></i></p>
                <p><b>Course Name: </b> <i><%= h mentor.courseName %></i> </p>
                <p><b>Description: </b> <i><%= h mentor.description %></i> </p>
                <form method="post" action="requestMentorMeeting">
                  <input type="hidden" name="menteeID" value="<%= $mentees.id %>">
                  <input type="submit" value="Request Mentor Meeting" onclick="alert('Your mentor has been notified!')" />
                </form>
              <% end %>
            <% else %>
              <p id="SearchError">You do not have a mentor yet!</p>
            <% end %>
        </div>
     </div>
  
</div> 

<%= erb :"common/footer" %>
