<%= @header %>
    <div class="background" id="statement">
      <div class="full">
        <div class="title"><h3>Search for a <strong>Paired</strong> Mentee</h3></div> <!--Main page Title-->  

          <form>
            <p>Choose a <strong>FACULTY</strong> to search in: 
              <!-- Gets the search value(mentee faculty) to be searched -->
              <select name="faculty_search" id="searchForMentee" value="<%= h @faculty_search %>">
                <option value="">Select</option>
                <option value="Faculty of Arts and Humanities">Faculty of Arts and Humanities</option>
                <option value="Faculty of Engineering">Faculty of Engineering</option>
                <option value="Faculty of Medicine, Dentistry and Health">Faculty of Medicine, Dentistry and Health</option>
                <option value="Faculty of Science">Faculty of Science</option>
                <option value="Faculty of Social Sciences">Faculty of Social Sciences</option>
                <option value="International Faculty - CITY College, Thessaloniki">International Faculty - CITY College, Thessaloniki</option>
              </select>              
              <input type="submit" value="Submit" />
            </p>
          </form>

          <p>Number of Paired Mentees: <%= @mentees.count %></p>
        
          <!--Displays mentee details-->
          <% if @mentees.count > 0 %>
            <table class="displayTable">
              <tr>
                <!-- The name of each column for paired mentee table        -->
                <th>Mentee Name</th>
                <th>Mentee Email</th>
                <th>Faculty</th>
                <th class="break"></th>
                <th>Mentor Name</th>
                <th>Mentor Email</th>
              </tr>
               <!--Displays the number of paired mentee                  -->
            <% (0...@mentees.count).each do |menteeMentor| %>
              <tr>
                <!-- Details of each mentee displayed -->
                <td><%= @menteesList[menteeMentor][0] %></td>
                <td><%= @menteesList[menteeMentor][1] %></td>
                <td><%= @menteesList[menteeMentor][2] %></td>
                <td class="break"></td>
                <td><%= @mentors[menteeMentor][0] %></td>
                <td><%= @mentors[menteeMentor][1] %></td>
              </tr>
            <% end %> 
            </table>
          <% else %>
           <!-- displays errors if no mentor has a mentee            -->
            <p id="searchError">No mentees appear to be paired with a mentor.</p>
          <% end %>
      </div>
</div>

<%= erb :"common/footer" %>
