<%= erb :"common/header_menteeA" %>
<div class="background" id="statement">
  
      <div class="full">
        <h2>Mentor Applications still pending</h2>
        <div class="userInfo" id="application">
          <!-- Displays all the applications a mentee has sent which are pending -->
          <% if @mentorIDList.count > 0 %>
              <table class="displayTable">
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Job Title</th>
                  <th>Course Name</th>
                  <th>Description</th>
                  <th>Unsend application</th>
                  <th>Match with mentor</th>
                </tr>
               <!-- Details of each mentee displayed -->
              <% @mentorIDList.each do |mentor| %>
                <tr>
                  <td><%= h mentor.name %></td>
                  <td><%= h mentor.email %></td>
                  <td><%= h mentor.phoneNum %></td>
                  <td><%= h mentor.jobTitle %></td>
                  <td><%= h mentor.courseName %></td>
                  <td><%= h mentor.description %></td>
                  <td>
                    <form method="post" action="unsend">
                      <input type="hidden" name="mentorID" value="<%= mentor.id %>">
                      <input type="hidden" name="menteeID" value="<%= $mentees %>">
                      <button type="submit">Unsend Application</button>
                    </form>
                  </td>
                  <td>
                    <form method="post" action="matchWithMentor">
                      <input type="hidden" name="mentorID" value="<%= mentor.id %>">
                      <input type="hidden" name="menteeID" value="<%= $mentees %>">
                      <button type="submit">Match</button>
                    </form>
                  </td>
                </tr>
              <% end %> 
              </table>
            <% else %>
              <p id="searchError">There are no pending applications</p>
            <% end %>
         </div>
     </div>
  
</div> 

<%= erb :"common/footer" %>
